@media (min-width: 560px) and (max-width: 2560px) {
  // ==================================================
  // ===== 样式变量 ===================================
  // ==================================================
  $Size-A: 18px !important;
  $Size-B: 14px !important;
  $Size-C: 16px !important;
  $Size-D: 18px;
  $Size-E: 24px;
  $Size-F: 30px;
  $Size-G: 36px;
  $Color-White: #fff;
  $Color-Grey: #ccc;
  $Color-Yellow: #fffd7f;
  $Color-Red: #e72726;
  $Color-orange: #fde14f;
  $Radius: 8px;
  $Radius-A: 12px;
  $bgcolor-A: #540474;
  $bgcolor-B: #6b048c;
  $bgcolor-C: #0069f0;
  $bgcolor-D: #540474;

  $width-A: 1024px;
  $width-B: 670px;
  @mixin Sys_background_A() {
    background-color: $bgcolor-A;
    border-radius: $Radius;
  }
  @mixin Sys_background_B() {
    background-color: $bgcolor-B;
    border-radius: $Radius;
  }
  @mixin Sys_background_C() {
    background-color: $bgcolor-A;
    border-radius: $Radius;
    box-shadow:
      0px 1px 1px rgba(255, 255, 255, 0.1) inset,
      1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  // ==================================================
  // ===== 初始化样式 ===================================
  // ==================================================
  body {
    font-size: $Size-A;
  }
  .Pc {
    display: block !important;
  }
  .Mo {
    display: none !important;
  }
  .Home_top_four,
  .CompBanner,
  .game_recommend,
  .Home_Links_two,
  .Home_help,
  .Copyright_box,
  .Location ul,
  .MoreGameList,
  .TabGames_one,
  .promotion_one,
  .promotion_two,
  .promotion_three,
  .loginMain,
  .Sys_Pcbox,
  .team_one,
  .team_tab,
  .CompDetails_one,
  .CompDetails_three,
  .CompDetails_list,
  .VipBox,
  .vip_two,
  .vip_title,
  .vip-three,
  .vip_four,
  .Wallets_header,
  .Records_two,
  .Cash_top_two,
  .Profile_list,
  .profile_form,
  .Avatar_one,
  .Avatar_img,
  .stream_list,
  .Records_one,
  .mess,
  .showGame_page_iframe,
  .title_img {
    width: $width-A;
    margin: 0px auto;
  }
  .Sys_Pcbox {
    @include Sys_background_C();
    min-height: 900px;
  }
  .Location {
    padding: 30px 0px 20px 0px;
    ul {
      position: relative;
      @include Sys_background_C();
      li {
        height: 58px;
        line-height: 58px;
        text-align: center;
        font-size: $Size-E;
        color: $Color-Yellow;
        &:nth-child(1) {
          width: 70px;
          position: absolute;
          left: 0px;
          top: 0px;
          background: url(~assets/AppSkinD/images/Header/Site_01.png) no-repeat center center / auto 30px;
          a,
          .q-btn {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-indent: -1000px;
          }
        }
      }
    }
  }
  .Sys_q-pagination {
    .q-btn,
    .q-field {
      font-size: $Size-D;
      height: 40px;
      width: 40px;
      margin: 0px 2px;
      background: none;
    }
    .q-field {
      .q-field__inner {
        .q-field__control {
          height: 40px;
          .q-field__control-container {
            .q-field__native {
              font-size: $Size-D;
            }
          }
        }
      }
    }
  }
  .Sys_Btn_Submit {
    .q-btn {
      width: 50% !important;
      font-size: $Size-E;
      .q-btn__content {
        padding: 18px 0px;
      }
    }
  }
  // ==================================================
  // ===== 页面框架 ===================================
  // ==================================================
  .q-body--prevent-scroll {
    position: relative !important;
  }
  .q-layout {
    .Main_Header {
      height: 0px;
      .Main_Header_box {
        display: none;
      }
    }
    .q-page-container {
      //width: 1024px;
      margin: 0px auto;
      //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      .q-page {
        padding-top: 80px;
      }
    }
    .q-footer {
      display: none;
    }
  }
  // ==================================================
  // ============== 移动端隐藏 =========================
  // ==================================================
  .Sys_page_two {
    .Sys_bottom_sticky {
      display: block;
    }
  }
  .Sys_page {
    .q-page-sticky {
      display: block;
    }
  }
  .showGame_page {
    .q-page-sticky {
      display: none;
    }
    .Sys_bottom_sticky {
      display: block;
    }
  }
  // ===== 顶部Header ==========
  .q-header {
    .q-toolbar {
      display: none;
    }
  }
  .Pc_Sys_Header {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 500;
    width: 100%;
    height: 80px !important;
    background-color: #540474;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    .left_menu {
      display: none;
    }
    .Pc_Sys_Header_box {
      display: table;
      width: $width-A;
      margin: 0px auto;
      padding: 0px;
      box-shadow: none;
      .Pc_Sys_Header_box_Logo {
        float: left;
        padding-top: 10px;
        img {
          width: auto;
          height: 60px;
        }
      }
      ol,
      ul {
        float: right;
        display: table;
        li {
          position: relative;
          float: left;
          padding-left: 16px;
        }
      }
      ul {
        li {
          .q-btn {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-top: 20px;
            border-radius: $Radius;
            border: solid 2px #ff7170;
            color: #fff;
            width: 130px;
            font-size: $Size-A;
          }
          &:nth-child(2) {
            .q-btn {
              color: $Color-White;
              border: none;
              background: #ff7170;
            }
          }
        }
      }
      ol {
        li {
          display: block;
          &:nth-child(1) {
            .q-btn {
              &::before {
                display: none;
              }
            }
          }
          .q-btn,
          .liuser,
          a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-top: 20px;
            padding: 0px 10px;
            border-radius: $Radius;
            background-color: #410359;
            color: $Color-White;
            font-size: $Size-A;
          }
          .liuser {
            padding: 0px;
            p {
              position: absolute;
              left: 26px;
              top: 25px;
              z-index: 2;
              img {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                float: left;
              }
            }
            .q-btn {
              width: 70px;
              background: none;
              margin: 0px;
              padding: 0px;
              z-index: 3;
              .q-btn__content {
                background: url(~assets/AppSkinD/images/System/Site_08.png) no-repeat 48px center / auto 40%;
                .block {
                  display: block;
                  width: 100%;
                  text-indent: 100px;
                  overflow: hidden;
                }
                .q-icon {
                  display: none;
                }
              }
            }
          }
          &:nth-child(1) {
            .q-btn {
              min-width: 150px;
              .q-btn__content {
                justify-content: flex-end;
                padding-left: 40px;
                background: url(~assets/AppSkinD/images/Header/Icon_31.png) no-repeat 0px center / auto 90%;
              }
            }
          }
          &:nth-child(3) {
            a {
              width: 40px;
              text-indent: 100px;
              overflow: hidden;
              background-image: url(~assets/AppSkinD/images/User/Icon_01.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: auto 25px;
              .q-badge {
                top: 24px;
                right: 7px;
              }
            }
          }
        }
      }
    }
  }
  .q-menu {
    background: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin-top: 19px !important;
    margin-left: 56px !important;
  }
  .Dropdown_box {
    width: 350px;
    background-color: #66058c;
    border-radius: $Radius;
    padding: 20px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    ul {
      position: relative;
      color: $Color-orange;
      line-height: 30px;
      padding-left: 80px;
      padding-bottom: 8px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
      li {
        &:nth-child(1) {
          position: absolute;
          left: 0px;
          top: 0px;
          color: $Color-Yellow;
        }
        &:nth-child(2) {
          font-size: $Size-E;
        }
        &:nth-child(3) {
          font-size: $Size-B;
          margin-top: 3px;
        }
      }
    }
    ol {
      background-color: #7805a6;
      border-radius: $Radius;
      margin-top: 10px;
      li {
        background-repeat: no-repeat;
        background-position: 18px center;
        background-size: auto 24px;
        border-radius: $Radius;
        .q-btn,
        a {
          display: block;
          width: 100%;
          line-height: 50px;
          font-size: $Size-C;
          border-radius: $Radius;
          text-align: left;
          color: $Color-orange;
          padding: 0px 30px 0px 60px;
          background: url(~assets/AppSkinD/images/System/Site_09.png) no-repeat 278px center / auto 16px;
          .q-btn__content {
            justify-content: flex-start;
          }
        }
        &:hover {
          background-color: #606578;
        }
      }
      &:nth-child(2) {
        li {
          &:nth-child(1) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_01.png);
          }
          &:nth-child(2) {
            background-image: url(~assets/AppSkinD/images/User/Icon_03.png);
          }
        }
      }
      &:nth-child(3) {
        li {
          &:nth-child(1) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_03.png);
          }
          &:nth-child(2) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_04.png);
          }
          &:nth-child(3) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_05.png);
          }
          &:nth-child(4) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_06.png);
          }
        }
      }
      &:nth-child(4) {
        li {
          &:nth-child(1) {
            background-image: url(~assets/AppSkinD/images/User/Icon_pc_07.png);
            .q-btn {
              background: none;
            }
          }
        }
      }
    }
  }
  // ===== 底部Copyright ==========
  .Copyright {
    background-color: $bgcolor-D;
    margin-top: 60px;
    .Copyright_box {
      padding: 50px 0px;
      .Copyright_box_one {
        width: 100%;
        display: flex;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          float: left;
          width: 40%;
          padding-right: 30px;
          li {
            margin-left: 15px;
            &:nth-child(1) {
              margin-left: 0px;
            }
            img {
              width: 45px;
              height: 45px;
            }
          }
        }
        .text {
          width: 60%;
        }
      }
      .Copyright_box_two {
        text-align: center;
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        ul {
          li {
            padding-top: 30px;
            &:nth-child(1) {
              img {
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
  // ===== 右下角浮动按钮 ==========
  .q-page-sticky {
    right: calc(50% - 585px);
    bottom: 225px;
    .q-btn {
      width: 65px;
      height: 65px;
      border-radius: $Radius + 5px;
      background-position: center center;
      background-color: $bgcolor-B;
      &:nth-child(2) {
        margin-top: 20px;
        background-position: center center;
        background-color: $bgcolor-B;
      }
    }
  }
  // ==================================================
  // ===== 弹窗 ===================================
  // ==================================================
  .Sys_dialog {
    .q-card {
      max-width: 520px;
      min-width: 350px;
      border-radius: $Radius-A;
      .q-card__section {
        padding: 25px 30px;
      }
      .Sys_dialog_title {
        padding: 20px 30px;
        font-size: $Size-D;
        .q-btn {
          width: 50px;
          height: 50px;
          text-indent: -500px;
        }
      }
    }
  }
  .q-dialog-plugin {
    border-radius: $Radius-A !important;
    min-width: 450px !important;
    .q-card__section {
      padding: 25px 30px;
    }
    .q-dialog__title {
      padding: 20px 30px;
      font-size: $Size-D;
    }
    .q-card__actions--horiz {
      padding: 0px 30px 30px 30px;
      .q-btn {
        width: 110px;
        font-size: $Size-D;
        .q-btn__content {
          padding: 10px 0px;
        }
      }
    }
  }
  .User_tabs {
    .q-tabs__content {
      .q-tab {
        .q-tab__content {
          width: 100px;
          .q-tab__label {
            min-height: 45px;
            line-height: 45px;
            font-size: $Size-D;
          }
        }
      }
    }
    .q-tabs__arrow--left {
      z-index: 10;
      background: linear-gradient(to right, rgba(84, 4, 116, 1), rgba(84, 4, 116, 0.1));
      svg {
        width: 90%;
        color: #fff;
      }
      &:hover {
        svg {
          color: #abf07d;
        }
      }
    }
    .q-tabs__arrow--right {
      z-index: 10;
      background: linear-gradient(to right, rgba(84, 4, 116, 0.1), rgba(84, 4, 116, 1));
      svg {
        width: 90%;
        color: #fff;
      }
      &:hover {
        svg {
          color: #abf07d;
        }
      }
    }
  }
  .User_tabs_panels {
    .q-radio {
      margin: 20px 5% 0px 0px;
      .q-radio__label {
        height: 130px;
        p {
          &:nth-child(1) {
            height: 96px;
            background-size: auto 50px !important;
            background-position: center 32px !important;
            i {
              transform: scale(1);
              font-size: $Size-C;
              padding: 5px 0px 0px 10px;
            }
          }
          &:nth-child(2) {
            height: 30px;
            line-height: 30px;
            transform: scale(1);
            font-size: $Size-C;
          }
        }
        &::after {
          height: 35px;
        }
      }
    }
  }
  .User_tab_one {
    .Sys_Btn_Submit {
      padding: 30px 0px;
      .q-btn {
        font-size: $Size-D;
        .q-btn__content {
          padding: 17px 0px;
        }
      }
    }
  }
  .Sys_popup_date {
    max-height: auto !important;
    min-width: auto !important;
    .Sys_Btn_Submit {
      .q-btn {
        font-size: $Size-D;
      }
    }
  }

  // ==================================================
  // ===== 页面样式 ===================================
  // ==================================================
  // ===== home ===================================
  .Home_banner {
    position: relative;
    padding: 30px 0px 0px 0px;
    z-index: 2;
    .Home_banner_box {
      border-radius: $Radius + 9px;
      .q-carousel {
        .q-carousel__slides-container {
          .q-panel {
            height: 350px;
            .q-carousel__slide {
              .slide_box {
                height: 350px;
                overflow: hidden;
                img {
                  height: 350px;
                  border-radius: $Radius + 9px;
                }
              }
            }
          }
        }
        .q-carousel__control {
          bottom: 30px;
          .q-carousel__navigation-inner {
            .q-btn {
              height: 12px;
              width: 12px;
              margin: 0px 6px !important;
            }
            .q-carousel__navigation-icon--active {
              min-width: 24px;
            }
          }
        }
      }
    }
  }
  // =====
  .Home_MarqueeX {
    margin-top: 30px;
    @include Sys_background_A();
    .Home_MarqueeX_box {
      height: 55px;
      padding-left: 65px;
      i {
        width: 55px;
        height: 55px;
        background-size: 50% auto;
        background-position: center center;
      }
      .marquee-outbox {
        .inbox {
          width: 100%;
          .box {
            height: 55px !important;
            line-height: 55px !important;
            p {
              line-height: 55px;
              font-size: $Size-A;
              color: $Color-Yellow;
            }
          }
        }
      }
    }
  }
  // =====
  .Home_menu {
    //@include Sys_background_A();
    margin-top: 20px;
    //padding: 10px 20px;
    ol {
      display: flex !important;
      justify-content: flex-start;
      li {
        padding-right: 19px;
        a,
        .q-btn {
          display: inline-block;
          width: 130px;
          height: 90px;
          text-align: center;
          color: $Color-Grey;
          font-size: $Size-A;
          padding-top: 58px;
          background-position: center 10px;
          background-repeat: no-repeat;
          background-size: auto 47px;
          @include Sys_background_B();
          color: $Color-orange;
          &:hover {
            background-color: $bgcolor-C;
          }
        }
        .q-btn {
          padding-top: 61px;
        }
        &:nth-child(1) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_01.png);
          }
        }
        &:nth-child(2) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_02.png);
          }
        }
        &:nth-child(3) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_03.png);
          }
        }
        &:nth-child(4) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_04.png);
          }
        }
        &:nth-child(5) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_05.png);
          }
        }
        &:nth-child(6) {
          a {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_06.png);
          }
        }
        &:nth-child(7) {
          .q-btn {
            background-image: url(~assets/AppSkinD/images/Home/pcicon_07.png);
          }
        }
      }
    }
  }
  // =====
  .game_recommend {
    margin-top: 20px;
    //@include Sys_background_A();
    padding: 0px;
    .game_recommend_box {
      .game_recommend_title {
        line-height: 30px;
        padding-bottom: 20px;
        .title_text {
          font-size: 24px;
        }
        .more {
          .q-btn {
            border-radius: $Radius;
            height: 30px;
            width: 65px;
            padding: 0px 0px 0px 6px;
            color: $Color-orange;
            background-color: $bgcolor-B;
            .q-btn__content {
              &::before {
                background: none;
              }
              &::after {
                content: "";
                display: inline-block;
                width: 16px;
                height: 28px;
                background: url(~assets/AppSkinD/images/System/Site_09.png) no-repeat center 8px / auto 50%;
              }
            }
          }
        }
      }
      .home_game_list {
        a {
          width: 154px;
          margin: 0px;
          margin-right: 20px;
          margin-bottom: 20px;
          &:nth-child(6n) {
            margin-right: 0px;
          }
          ul {
            height: 208px;
            li {
              &:nth-child(1) {
                .q-img {
                  border-radius: $Radius + $Radius;
                }
              }
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  // ===== tabGames ===================================
  .TabGames_one {
    padding: 0px;
    padding-bottom: 20px;
    .q-tabs {
      .q-tabs__arrow {
        height: 80px;
        width: 35px;
        svg {
          height: 80px;
          width: 30px;
        }
      }
      .q-tabs__content {
        .q-tab {
          .q-tab__content {
            ul {
              width: 150px;
              margin-left: 25px;
              li {
                &:nth-child(2) {
                  margin-top: -16px;
                  p {
                    height: 25px;
                    &:nth-child(1) {
                      font-size: $Size-A;
                      margin-top: 5px;
                    }
                    &:nth-child(2) {
                      font-size: $Size-B;
                    }
                  }
                }
              }
            }
          }
          &:nth-child(1) {
            .q-tab__content {
              ul {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
  .MoreGameList {
    padding: 0px;
    .MoreGameList_box {
      padding: 30px;
      display: table;
      width: 100%;
      min-height: 670px;
      a {
        width: auto;
        padding: 0px;
        float: left;
        padding-right: 22px;
        padding-bottom: 22px;
        ul {
          width: 142px;
          padding: 0px;
          margin-top: 0px;
          background-color: #32354b;
          border-radius: $Radius + $Radius;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          li {
            position: relative !important;
            width: 100% !important;
            height: auto;
            display: block;
            text-align: center;

            img {
              width: 100%;
              height: auto;
            }
            &:nth-child(2) {
              color: $Color-Yellow;
              font-size: $Size-C;
              font-weight: normal;
              padding: 20px 0px 10px 0px;
              background: linear-gradient(to bottom, rgba(107, 4, 140, 0), #6b048c 15px, #6b048c);
              margin-top: -18px;
              border-radius: 0px 0px $Radius + $Radius $Radius + $Radius;
              p {
                padding: 0px 8px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            &:nth-child(3) {
              text-align: center;
              display: none;
              span {
                border-radius: 35px;
                font-size: $Size-B;
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            z-index: 6;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #0009;
            border-radius: $radius + $radius;
            display: none;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            margin-top: -14%;
            z-index: 7;
            width: 100%;
            height: 50px;
            background: url(~assets/AppSkinD/images/System/Icon_0_03.png) no-repeat center center / auto 100%;
            display: none;
          }
          &:hover {
            cursor: pointer;
            &::before {
              display: block;
              backdrop-filter: blur(3px);
            }
            &::after {
              display: block;
              animation-name: scaleActive-a1a07a36;
              animation-duration: 0.5s;
            }
          }
        }
        &:nth-child(6n) {
          padding-right: 0px;
        }
      }
    }
  }
  // ===== login ===================================
  .Sys_page_LoginLayout,
  .Sys_page_LoginLayout_login {
    background: none;
    .q-header {
      background: none;
      .Pc_Sys_Header {
        background: linear-gradient(to bottom, rgba(84, 4, 116, 0.9), rgba(84, 4, 116, 0.1));
        //border: none;
        .q-toolbar {
          background: none;
        }
        .Pc_Sys_Header_box {
          ol {
            display: none;
          }
        }
      }
    }
    .q-page-container {
      .q-page {
        background: url(~assets/AppSkinD/images/System/Bg_05.png) no-repeat center top / 1600px auto;
        //background-attachment: fixed;
      }
    }
  }
  .loginMain {
    margin-top: 50px;
    min-height: 700px;
    background: rgba(84, 4, 116, 0.75);
    box-shadow:
      0px 1px 1px rgba(255, 255, 255, 0.1) inset,
      1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: $Radius-A;
    padding: 60px 300px;
    .LoginLayout_title {
      padding: 30px 0px 50px 0px;
      .q-item__section {
        .q-item__label {
          line-height: normal;
          font-size: $Size-F;
        }
      }
    }
    .LoginLayout_list {
      padding: 0px;
      .q-field {
        .q-field__inner {
          .q-field__control {
            .q-field__control-container {
              background-position: 18px 15px;
              input {
                padding: 20px;
                padding-left: 65px !important;
                font-size: $Size-D;
              }
            }
          }
        }
      }
      .List_bottom_text {
        .q-btn {
          font-size: $Size-D;
          height: 40px;
        }
      }
      .Sys_Btn_Submit {
        padding: 25px 0px;
        .q-btn {
          font-size: $Size-E;
          .q-btn__content {
            padding: 15px 0px;
          }
        }
      }
    }
  }
  .Sys_input_text {
    .q-field__control {
      .q-field__control {
        input {
          padding: 14px 20px;
          font-size: $Size-C;
        }
      }
    }
    .q-field__inner {
      .q-field__bottom {
        font-size: $Size-B;
      }
    }
  }
  .loginMain_one {
    .LoginLayout_title {
      padding: 10px 0px 30px 0px;
    }
    .LoginLayout_list {
      .q-field {
        .q-field__inner {
          .q-field__control {
            .q-field__control-container {
              input {
                padding-left: 20px !important;
              }
            }
          }
        }
      }
      .Sys_input_text_phone {
        &::before {
          line-height: 30px;
          font-size: $Size-D;
          top: 16px;
          padding: 0px 25px;
          padding-left: 0px;
        }
        .q-field__inner {
          .q-field__control {
            .q-field__control-container {
              input {
                padding-left: 90px !important;
              }
            }
          }
        }
      }
      .Sys_input_text_code {
        .q-field__after {
          top: 10px;
          transform: translateY(-225%);
          .q-btn {
            line-height: 12px;
            font-size: $Size-B;
            height: 40px;
            width: 160px;
            opacity: 1 !important;
            .q-btn__content {
              .block {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
  .LoginLayout_list {
    .Sys_input_text {
      margin-top: 0px;
    }
    .Sys_Btn_Submit {
      .q-btn {
        width: 100% !important;
      }
    }
  }
  // ===== promotion ===================================
  .promotion_one {
    padding: 0px;
    ol {
      padding: 50px;
      margin: 0px auto;
      h3 {
        padding: 0px;
        font-size: $Size-D;
      }
      li {
        width: 22.7%;
        @include Sys_background_B();
        margin: 20px 3% 0px 0px !important;
        padding: 20px 10px;
        font-size: $Size-D;
        &:nth-child(5) {
          margin: 20px 0px 0px 0px !important;
        }
        span {
          transform: scale(1);
          font-size: $Size-B;
          height: 36px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .promotion_two {
    padding: 25px 0px 0px 0px;
    .q-btn {
      height: 65px;
      font-size: $Size-D !important;
      .q-btn__content {
        &::before {
          width: 60px !important;
          height: 100% !important;
        }
      }
    }
  }
  .promotion_three {
    padding: 25px 0px 0px 0px;
    .promotion_three_box {
      padding: 40px 0px;
      .promotion_title,
      .promotion_text {
        //width: $width-B;
        padding: 0px 50px;
        margin: 0px auto;
      }
      .promotion_title {
        font-size: $Size-D;
        padding-bottom: 25px;
      }
      .promotion_text {
        padding: 0px 50px;
        font-size: $Size-C;
        text-align: center;
        p {
          text-align: left;
        }
        img {
          display: inline-block;
          margin: 0px auto;
          max-width: 100%;
        }
      }
    }
  }
  .Sys_dialog_promotion {
    width: 520px;
    .q-btn--dense {
      width: 50px;
      height: 50px;
    }
    .promotion {
      ul {
        li {
          p {
            b {
              width: 60px !important;
              height: 60px !important;
            }
            &:nth-child(2) {
              transform: scale(1);
              margin-top: 10px;
              font-size: $Size-B;
              line-height: 22px;
            }
          }
        }
        &::after {
          border: solid 2px #303146;
          top: 30px;
        }
      }
      ol {
        padding-top: 20px;
        li {
          padding-top: 10px;
          &:nth-child(2),
          &:nth-child(4) {
            margin: 0px 0px 20px 0px;
            padding-top: 0px;
            p {
              font-size: $Size-D;
              line-height: 60px;
              height: 60px;
            }
            .q-btn {
              width: 45px;
              height: 60px;
              .q-btn__content {
                background-position: center center;
              }
            }
          }
          &:last-child {
            img {
              width: 150px;
            }
          }
        }
      }
    }
  }
  // ===== team ===================================
  .team_one {
    padding: 0px;
    ul {
      padding: 50px 20px;
      li {
        width: 25%;
        font-size: $Size-E;
        span {
          font-size: $Size-C;
        }
      }
    }
  }
  .team_tab {
    padding: 25px 0px 0px 0px;
    .menu {
      display: table;
      width: 100%;
      padding: 0px 0px 25px 0px;
      background: none;
      li {
        width: auto;
        min-width: 180px;
        float: left;
        padding-left: 20px;
        &:nth-child(1) {
          padding-left: 0px;
        }
        .q-btn {
          height: 55px;
          font-size: $Size-D;
          color: $Color-White;
          padding: 0px 30px;
          @include Sys_background_C();
        }
        .active {
          background-color: $bgcolor-C;
        }
      }
    }
    .team_list {
      @include Sys_background_C();
      padding: 50px;
      min-height: 900px;
      .stati {
        padding: 0px;
        margin-bottom: 20px;
        li {
          padding: 0px;
          font-size: $Size-C;
          line-height: 40px;
        }
      }
      .datalist_scroll {
        .datalist_scroll_box {
          overflow: auto;
          ul {
            width: 100%;
            li {
              height: 50px;
              width: 20%;
              span {
                transform: scale(1) !important;
                left: 25px !important;
              }
            }
          }
          .name {
            li {
              span {
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
  // ===== rewards ===================================
  .Records_page {
    .Sys_Pcbox {
      padding: 50px;
    }
    .Award {
      padding: 25px 0px 0px 0px !important;
      margin: 0px auto;
      &:nth-child(1) {
        padding-top: 0px !important;
      }
      .Award_ul {
        ul {
          background-color: $bgcolor-B;
          padding: 30px 50px;
          li {
            padding-left: 180px;
            &:nth-child(1) {
              padding-left: 0px;
              left: 35px;
              top: 20px;
              width: 170px;
              height: 170px;
            }
            &:nth-child(2) {
              font-size: $Size-E;
              line-height: 40px;
              .q-btn {
                width: 40px;
                height: 40px;
              }
            }
            &:nth-child(3) {
              font-size: $Size-D;
              padding-bottom: 15px;
            }
            &:nth-child(4) {
              font-size: $Size-D;
              line-height: 25px;
            }
          }
          .Agendar {
            width: 100%;
            transform: scale(1);
            margin-left: 0%;
          }
          .Operar {
            padding: 25px 0px 0px 0px;
            .q-btn {
              min-width: 120px;
              padding: 12px 0px;
              font-size: $Size-D;
            }
          }
        }
      }
    }
  }
  // ===== TournamentList ===================================
  .Comp_list {
    padding: 50px 0px;
    width: $width-B;
    margin: 0px auto;
    .CompImg {
      margin-bottom: 25px;
      ul {
        h3 {
          font-size: $Size-E;
          padding-bottom: 25px;
          line-height: 25px;
        }
        li {
          font-size: $Size-D;
        }
      }
    }
  }
  // ===== tournamentDetails ===================================
  .Sys_page_CompDetails {
    background: url(~assets/AppSkinD/images/System/Bb_11_Pc.png) no-repeat center 40px / 1366px auto;
    .CompDetails_one {
      p {
        &:nth-child(1) {
          font-size: $Size-E;
          font-weight: normal;
        }
        &:nth-child(2) {
          font-size: $Size-G;
          margin-top: 15px;
        }
      }
    }
    .CompDetails_two {
      p {
        font-size: $Size-D;
        line-height: 25px;
        span {
          min-width: auto;
          color: $Color-White;
        }
      }
    }
    .CompDetails_three {
      min-height: 200px;
      ul {
        li {
          font-size: $Size-E;
          span {
            img {
              width: 80px;
              height: 80px;
            }
            &::after {
              width: 28px !important;
              height: 28px !important;
              line-height: 28px !important;
              font-size: $Size-D;
              color: $Color-White;
            }
          }
          &:nth-child(2) {
            margin-top: -28px;
            span {
              min-width: 70px;
              line-height: 20px;
              border-radius: $Radius-A;
              font-size: $Size-D;
              color: $Color-White;
            }
          }
          &:nth-child(3) {
            margin-top: 0px;
            padding: 0px;
          }
        }
        &:nth-child(1) {
          top: 15px;
          li {
            span {
              img {
                width: 85px;
                height: 85px;
              }
            }
          }
        }
        &:nth-child(2) {
          top: 35px;
          left: 5%;
        }
        &:nth-child(3) {
          top: 35px;
          right: 5%;
        }
      }
    }
    .CompDetails_list {
      ul {
        padding: 15px 0px;
        margin-bottom: 20px;
        li {
          font-size: $Size-E;
          height: auto;
          margin: 0px;
          line-height: 50px;
          span {
            img {
              width: 50px;
              height: 50px;
            }
          }
          &:nth-child(1) {
            width: 100px;
          }
          &:nth-child(2) {
            margin-right: 20px;
          }
          &:nth-child(3) {
            padding-right: 50px;
          }
        }
      }
    }
  }
  // ===== vip ===================================
  .vip_two {
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    &::before {
      width: 250px;
      height: 195px;
      top: -30px;
    }
    .vip_two_box {
      padding: 30px 100px;
      border-radius: $Radius-A;
      ul {
        li {
          &:nth-child(1) {
            img {
              height: 35px;
            }
          }
          &:nth-child(2) {
            padding: 10px 0px;
            font-size: $Size-E;
          }
          &:nth-child(3),
          &:nth-child(4) {
            position: relative !important;
            font-size: $Size-D;
            padding: 0px;
            margin: 0px;
            width: 100%;
            display: table;
            margin-top: 15px;
            p {
              position: relative !important;
              width: 50%;
              float: left;
              line-height: 30px;
              &:nth-child(2) {
                text-align: right;
              }
              &:nth-child(3) {
                width: 100%;
                margin-top: 5px;
                height: 10px;
                span {
                  height: 10px;
                }
              }
            }
          }
          &:nth-child(4) {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .VipBox {
    @include Sys_background_C();
    margin-top: 25px;
    .vip_title {
      padding: 25px 40px;
      font-size: $Size-D;
    }
    .TabGames_one {
      padding: 0px 40px 30px 40px;
      .q-tabs {
        .q-tabs__arrow--left {
          left: -40px;
        }
        .q-tabs__arrow--right {
          right: -40px;
        }
      }
    }
    .vip-three {
      .q-tabs {
        .q-tabs__content {
          .q-tab {
            .q-tab__content {
              ol {
                width: 168px;
                margin-left: 25px;
                &::after {
                  width: calc(100% + 25px);
                }
                li {
                  &:nth-child(1) {
                    background-color: $bgcolor-B;
                  }
                  &:nth-child(2) {
                    height: 80px;
                  }
                }
              }
            }
            &:nth-child(1) {
              .q-tab__content {
                ol {
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }
    }
    .vip_four {
      padding-bottom: 40px;
      .q-tabs {
        .q-tabs__content {
          .q-tab {
            .q-tab__content {
              .vip_four_slide {
                width: 420px;
                margin-left: 25px;
                background-color: $bgcolor-B;
                padding: 20px 40px 40px;
                .title {
                  padding: 20px 0px 0px 0px;
                }
                .one {
                  font-size: $Size-E;
                  img {
                    width: 60px;
                    height: 60px;
                  }
                }
                .two {
                  ul {
                    padding: 15px 0px;
                    display: block;
                    margin: 0px;
                    li {
                      &:nth-child(1) {
                        transform: scale(1);
                      }
                      &:nth-child(2) {
                        margin-top: 5px;
                        font-size: $Size-D;
                      }
                    }
                  }
                }
                .text,
                p {
                  font-size: $Size-D;
                }
              }
            }
            &:nth-child(1) {
              .q-tab__content {
                .vip_four_slide {
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
  // ===== customerService ===================================
  .Service_one {
    padding: 50px;
    .q-btn {
      margin-top: 25px;
      padding-left: 150px;
      height: auto;
      background-color: $bgcolor-B;
      &:nth-child(1) {
        margin-top: 0px;
      }
      .q-btn__content {
        padding: 30px;
        p {
          span {
            &:nth-child(1) {
              font-size: $Size-F;
              padding: 0px;
            }
            &:nth-child(2) {
              font-size: $Size-D;
              margin-top: 20px;
            }
          }
          &:nth-child(1) {
            left: 50px;
            img {
              width: 90px;
            }
          }
        }
      }
    }
  }
  // ===== deposit ===================================
  .Wallets_header {
    padding: 0px 0px 20px 0px;
    .box {
      padding: 0px;
      display: table;
      width: 100%;
      background: none;
      p {
        width: auto;
        min-width: 32%;
        float: left;
        margin-left: 2%;
        border-radius: 0px;
        border: none !important;
        background: none !important;
        a {
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          color: #fff;
          padding: 0px 30px;
          @include Sys_background_C();
          background-color: #4e036c;
        }
        &:nth-child(1) {
          margin-left: 0px;
        }
      }
      .active {
        a {
          background-color: $bgcolor-C;
        }
      }
    }
  }
  .Wallets_radio {
    .q-radio {
      width: 31%;
      margin-right: 3.5%;
      margin-top: 25px;
      .q-radio__label {
        background-color: $bgcolor-B;
        p {
          &:nth-child(1) {
            padding: 85px 0px 15px 0px;
            background-size: auto 50%;
            background-position: center 15px;
            font-size: $Size-D;
          }
          &:nth-child(2) {
            font-size: $Size-C;
          }
        }
      }
    }
  }
  .Wallets_radio_two {
    .q-radio {
      width: 48%;
    }
  }
  .Sys_input_text {
    margin-top: 20px;
    .q-field__inner {
      .q-field__control {
        .q-anchor--skip {
          input {
            padding: 20px 20px;
            font-size: $Size-E;
          }
        }
      }
      .q-field__bottom {
        margin-top: 10px;
        .q-field__messages .Wallets_tips {
          padding: 0px;
          font-size: $Size-D;
        }
      }
    }
  }
  .Wallets_checkbox {
    padding: 0px 0px 20px 0px;
  }
  .Sys_Pcbox_deposit {
    padding: 50px 150px;

    .Wallets_title {
      padding: 25px 0px;
      font-size: $Size-E;
      margin-top: 0px;
    }
    .Wallets_one {
      padding: 0px;
      ul {
        padding: 20px 0px;
        font-size: $Size-E;
        background-color: $bgcolor-B;
      }
    }
    .q-form {
      .deposit_main {
        padding: 0px;
        .Wallets_radio_two {
          .q-radio {
            .q-radio__label {
              p {
                &:nth-child(1) {
                  padding: 20px 0px;
                  font-size: $Size-E;
                }
              }
            }
          }
        }
      }
    }
    .Wallets_box {
      margin: 0px;
    }
    .Wallets_Submit {
      padding: 60px 0px 50px 0px;
    }
  }
  .Cash_top_two {
    padding: 0px;
    justify-content: flex-start;
    padding-bottom: 25px;
    .q-input {
      width: 30.33%;
      margin-left: 3%;
      &:nth-child(1) {
        margin-left: 0px;
      }
    }
    .q-field {
      font-size: $Size-D;
      @include Sys_background_C();
      .q-field__control,
      .q-field__native {
        height: 50px;
      }
      .q-field__append,
      .q-icon {
        height: 50px !important;
      }
      .q-icon {
        &::after {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .Records_two {
    padding: 50px;
    @include Sys_background_C();
    min-height: 900px;
    .Records_two_box {
      display: block;
      left: auto;
      top: auto;
      width: 100%;
      height: auto;
      position: relative;
      .No_data {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-top: 10%;
      }
      .Records_list {
        position: relative;
      }
    }
  }
  // ===== rechargeQrcode ===================================
  .rechargeQrcode {
    padding: 50px 150px;
    .Wallets_one {
      p {
        padding: 20px;
        font-size: $Size-E;
        background-color: $bgcolor-B;
      }
    }
    .Wallets_qr {
      ul {
        padding: 0px;
        background: none;
        border: none;
        box-shadow: none;
        li {
          padding: 20px 0px;
          font-size: $Size-D;
          line-height: 25px;
          img {
            width: 40%;
          }
        }
      }
    }
  }
  // ===== withdraw ===================================
  .Sys_Pcbox_Wallets {
    padding: 50px 150px;
    .Wallets_one {
      padding: 0px;
      ul {
        padding: 20px 0px;
        font-size: $Size-E;
        background-color: $bgcolor-B;
      }
    }
    .q-form {
      .Wallets_form {
        padding: 30px 0px 0px;
        .list {
          padding: 0px;
          background: none;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
  // ===== profile ===================================
  .Profile_list {
    padding: 50px 200px;
    min-height: 900px;
    .q-item {
      padding: 25px 0px;
      &::before {
        width: 100%;
        left: 0px;
      }
    }
    .q-field__control {
      min-height: auto;
      padding: 0px;
      height: 100%;
      padding-right: 20px;
    }
  }
  .profile_form {
    @include Sys_background_C();
    min-height: 900px;
    padding: 50px 200px;
    .list_input {
      .label {
        font-size: $Size-D;
      }
    }
    .Sys_input_text {
      margin-top: 0px;
      .q-field__inner {
        .q-field__control {
          .q-anchor--skip {
            input {
              padding: 25px 0px !important;
            }
          }
        }
      }
    }
    .list_input_phone {
      .q-field {
        .q-field__inner {
          .q-field__control {
            .q-field__prepend {
              font-size: $Size-D !important;
              top: 14px;
              span {
                padding: 0px 17px 0px 0px;
              }
            }
          }
        }
      }
    }
  }
  .profile_page {
    .Sys_page {
      padding-top: 0px !important;
      min-height: auto !important;
    }
  }
  .Sys_page_Bankcard {
    min-height: auto !important;
    padding: 0px !important;
  }
  // ===== avatar ===================================
  .Avatar_one {
    padding: 50px 200px;
    .Sys_Btn_Submit {
      .q-btn {
        width: 150px !important;
      }
    }
  }
  .Wallets_header {
    .box_three {
      p {
        .q-btn {
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          color: #fff;
          padding: 0px 30px;
          background-color: #24243b;
          border-radius: 8px;
          border: solid 1px #343645;
          .q-btn__content {
            padding: 0px;
          }
        }
      }
      .active {
        .q-btn {
          background-color: $bgcolor-C;
        }
      }
    }
  }
  .Avatar_img {
    padding: 50px 200px;
    margin-top: 20px;
  }
  .stream_list {
    position: relative;
    padding: 0px;
    left: auto;
    top: auto;
    right: auto;
    height: auto;
    min-height: 900px;
    @include Sys_background_C();
    padding: 50px;
  }
  .Records_one {
    padding: 0px;
    padding-bottom: 20px;
    ul {
      justify-content: flex-start;
      li {
        width: 30.33% !important;
        margin-left: 3%;
        &:nth-child(1) {
          margin-left: 0px;
        }
        .q-field {
          @include Sys_background_C();
          .q-field__inner {
            .q-field__control {
              height: 50px;
              font-size: $Size-D;
            }
          }
        }
      }
    }
  }
  // ===== messages ===================================
  .mess {
    @include Sys_background_C();
    padding: 50px 200px;
    min-height: 900px;
    ul {
      border: none;
      box-shadow: none;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
      padding: 20px 0px;
      margin-top: 0px;
      .name {
        font-size: $Size-E;
        color: $Color-Yellow;
      }
      .time {
        font-size: $Size-D;
        padding-bottom: 15px;
      }
      .text {
        font-size: $Size-D;
        line-height: 25px;
      }
    }
    .Sys_q-pagination {
      margin-top: 20px;
    }
  }
  // ===== showGame ===================================
  .showGame_page_iframe {
    position: relative;
    min-height: 690px;
    border-radius: $Radius-A;
  }
  // ===== 用户回归 ===================================
  .Qdialog-Activity {
    ul {
      min-width: 400px;
      min-height: 350px;
      padding: 100px 0px 20px 0px;
      margin-top: 100px;
      &::before {
        height: 200px;
        top: -100px;
      }
      li {
        &:nth-child(1) {
          font-size: $Size-G;
          padding-top: 15px;
        }
        &:nth-child(2) {
          font-size: $Size-C;
        }
        &:nth-child(3) {
          font-size: $Size-C;
          padding: 25px 0px 15px 0px;
          .q-btn {
            min-width: 150px;
            padding: 12px 0px;
            font-size: $Size-E;
          }
        }
      }
    }
  }
  .Sys_back_Activity {
    width: 65px;
    height: 65px;
    right: calc(50% - 600px);
    .q-btn {
      background-color: transparent;
    }
    div {
      p {
        bottom: -25px;
        span {
          font-size: $Size-C;
          transform: scale(1);
        }
      }
    }
  }
  .back_activity {
    background: url(~assets/AppSkinD/images/System/Bg_06_pc.png) no-repeat center top / 1700px auto;
    .title_img {
      padding: 30px 25px 0px 55px;
      text-align: center;
      P {
        &:nth-child(1) {
          font-size: $Size-F;
        }
        &:nth-child(2) {
          font-size: $Size-D;
        }
      }
    }
    .activity_time {
      font-size: $Size-D;
      padding: 20px 0px 40px 0px;
      span {
        line-height: 40px;
      }
    }
    .Sys_Pcbox {
      padding: 50px;
    }
    .Sys_Pcbox {
      .back_player {
        padding: 0px 16px 25px 16px;
      }
      .back_player_box {
        background-color: $bgcolor-B;
        font-size: $Size-C;
        padding: 30px 50px;
        ul {
          padding-left: 180px;
          padding-bottom: 80px;
          li {
            &:nth-child(1) {
              width: 160px;
              height: 160px;
              top: -20px;
            }
            &:nth-child(2) {
              font-size: $Size-E;
              padding-bottom: 10px;
            }
            &:nth-child(3) {
              font-size: $Size-D;
              line-height: 25px;
            }
            &:nth-child(4) {
              .q-btn {
                min-width: 120px;
                padding: 12px 0px !important;
                font-size: $Size-D;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 414px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
